<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>计算机/互联网/通信/电子</key>
	<array>
		<string>计算机软件</string>
		<string>计算机硬件</string>
		<string>计算机服务(系统、数据服务、维修)</string>
		<string>通信/电信/网络设备</string>
		<string>通信/电信运营、增值服务</string>
		<string>互联网/电子商务</string>
		<string>网络游戏</string>
		<string>电子技术/半导体/集成电路</string>
		<string>仪器仪表/工业自动化</string>
	</array>
	<key>销售/客服/技术支持</key>
	<array/>
	<key>会计/金融/银行/保险</key>
	<array>
		<string>会计/审计</string>
		<string>金融/投资/证券</string>
		<string>银行</string>
		<string>保险</string>
	</array>
	<key>贸易/消费/制造/营运</key>
	<array>
		<string>贸易/进出口</string>
		<string>批发/零售</string>
		<string>快速消费品(食品、饮料、化妆品)</string>
		<string>服装/纺织/皮革</string>
		<string>家具/家电/工艺品/玩具/珠宝</string>
		<string>奢侈品/收藏品</string>
		<string>办公用品及设备</string>
		<string>机械/设备/重工</string>
		<string>汽车及零配件</string>
	</array>
	<key>制药/医疗</key>
	<array>
		<string>制药/生物工程</string>
		<string>医疗/护理/卫生</string>
		<string>医疗设备/器械</string>
	</array>
	<key>广告/市场/媒体/艺术</key>
	<array>
		<string>广告</string>
		<string>公关/市场推广/会展</string>
		<string>影视/媒体/艺术/文化传播</string>
		<string>文字媒体/出版</string>
		<string>印刷/包装/造纸</string>
	</array>
	<key>建筑/房地产</key>
	<array>
		<string>房地产开发</string>
		<string>建筑/建材/工程</string>
		<string>家居/室内设计/装潢</string>
		<string>物业管理/商业中心</string>
	</array>
	<key>人事/行政/高级管理</key>
	<array/>
	<key>咨询/法律/教育/科研</key>
	<array/>
	<key>服务业</key>
	<array>
		<string>餐饮业</string>
		<string>酒店/旅游</string>
		<string>娱乐/休闲/体育</string>
		<string>美容/保健</string>
		<string>生活服务</string>
	</array>
	<key>专业服务/教育/培训</key>
	<array>
		<string>中介服务</string>
		<string>专业服务(咨询、人力资源、财会)</string>
		<string>外包服务</string>
		<string>检测，认证</string>
		<string>法律</string>
		<string>教育/培训/院校</string>
		<string>学术/科研</string>
	</array>
	<key>能源/原材料</key>
	<array>
		<string>石油/化工/矿产/地质</string>
		<string>采掘业/冶炼</string>
		<string>电力/水利</string>
		<string>新能源</string>
		<string>原材料和加工</string>
	</array>
	<key>物流/运输</key>
	<array>
		<string>交通/运输/物流</string>
		<string>航天/航空</string>
	</array>
	<key>公务员/翻译/其他</key>
	<array>
		<string>政府/公共事业</string>
		<string>非盈利机构</string>
		<string>环保</string>
		<string>农/林/牧/渔</string>
		<string>多元化业务集团公司</string>
		<string>其他行业</string>
	</array>
</dict>
</plist>
