<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>销售</key>
	<array>
		<string>计算机硬件</string>
		<string></string>
	</array>
	<key>会计</key>
	<array/>
	<key>文员</key>
	<array/>
	<key>行政</key>
	<array/>
	<key>兼职</key>
	<array/>
	<key>客服</key>
	<array/>
	<key>采购</key>
	<array/>
	<key>人力资源</key>
	<array/>
	<key>设计</key>
	<array/>
	<key>业务</key>
	<array/>
	<key>财务</key>
	<array/>
	<key>编辑</key>
	<array/>
	<key>人事</key>
	<array/>
	<key>经理</key>
	<array/>
	<key>销售经理</key>
	<array/>
	<key>业务员</key>
	<array/>
	<key>软件工程师</key>
	<array/>
	<key>工程师</key>
	<array/>
	<key>跟单</key>
	<array/>
	<key>策划</key>
	<array/>
	<key>销售代表</key>
	<array/>
	<key>市场</key>
	<array/>
	<key>qc</key>
	<array/>
	<key>教师</key>
	<array/>
	<key>项目经理</key>
	<array/>
	<key>工程</key>
	<array/>
	<key>IT</key>
	<array/>
	<key>测试</key>
	<array/>
	<key>翻译</key>
	<array/>
	<key>汽车</key>
	<array/>
	<key>物流</key>
	<array/>
	<key>外贸</key>
	<array/>
	<key>银行</key>
	<array/>
	<key>电气</key>
	<array/>
	<key>计算机</key>
	<array/>
	<key>服装</key>
	<array/>
	<key>机械</key>
	<array/>
	<key>食品</key>
	<array/>
	<key>电子商务</key>
	<array/>
	<key>医药</key>
	<array/>
	<key>房地产</key>
	<array/>
	<key>证券</key>
	<array/>
	<key>化妆品</key>
	<array/>
	<key>酒店</key>
	<array/>
	<key>电子</key>
	<array/>
	<key>网络</key>
	<array/>
	<key>化工</key>
	<array/>
	<key>家具</key>
	<array/>
	<key>通信</key>
	<array/>
	<key>日语</key>
	<array/>
	<key>java</key>
	<array/>
	<key>英语</key>
	<array/>
	<key>.net</key>
	<array/>
	<key>smt</key>
	<array/>
	<key>应届毕业生</key>
	<array/>
	<key>php</key>
	<array/>
	<key>ERP</key>
	<array/>
	<key>sap</key>
	<array/>
</dict>
</plist>
