<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>计算机/互联网/通信/电子</key>
	<array>
		<dict>
			<key>计算机硬件</key>
			<array>
				<string>计算机硬件</string>
				<string>高级硬件工程师</string>
				<string>硬件工程师</string>
				<string>其他</string>
			</array>
			<key>计算机软件</key>
			<array>
				<string>计算机软件</string>
				<string>高级软件工程师</string>
				<string>软件工程师</string>
				<string>软件UI设计师</string>
				<string>软件UI工程师</string>
				<string>算法工程师</string>
				<string>仿真应用工程师</string>
				<string>ERP实施顾问</string>
				<string>ERP技术开发</string>
				<string>需求工程师</string>
				<string>系统集成工程师</string>
				<string>系统分析员</string>
				<string>系统工程师</string>
				<string>系统架构设计师</string>
				<string>数据库工程师</string>
				<string>数据库管理员</string>
				<string>计算机辅助设计工程师</string>
				<string>其他</string>
			</array>
			<key>互联网/电子商务/网游</key>
			<array>
				<string>互联网／电子商务／网游</string>
				<string>互联网软件开发工程师</string>
				<string>语音／视频开发工程师</string>
				<string>多媒体／游戏开发工程师</string>
				<string>移动应用开发工程师</string>
				<string>网站运营总监</string>
				<string>网站运营经理／主管</string>
				<string>网站运营专员</string>
				<string>产品总监</string>
				<string>产品经理／主管</string>
				<string>产品专员</string>
				<string>SEO搜索引擎优化</string>
				<string>网络推广总监</string>
				<string>网络推广经理／主管</string>
				<string>网络推广专员</string>
				<string>电子商务总监</string>
				<string>电子商务经理／主管</string>
				<string>电子商务专员</string>
				<string>网店店长／客服</string>
				<string>网点美工</string>
				<string>网络工程师</string>
				<string>UI设计师／顾问</string>
				<string>用户体验(UE/UX)设计师</string>
				<string>web前端开发</string>
				<string>网站架构设计师</string>
				<string>网站维护工程师</string>
				<string>系统管理员／网络管理员</string>
				<string>网站策划</string>
				<string>网站编辑</string>
				<string>网站策划</string>
				<string>网站编辑</string>
				<string>网站设计／制作／美工</string>
				<string>脚本开发工程师</string>
				<string>游戏策划师</string>
				<string>游戏界面设计师</string>
				<string>flash设计／开发</string>
				<string>特效设计师</string>
				<string>视觉设计师</string>
				<string>音效设计师</string>
				<string>网络信息安全工程师</string>
				<string>其他</string>
			</array>
			<key>IT-管理</key>
			<array>
				<string>IT-管理</string>
				<string>首席技术执行官CTO/首席信息官CIO</string>
				<string>技术总监／经理</string>
				<string>信息技术经理／主管</string>
				<string>信息技术专员</string>
				<string>项目总监</string>
				<string>项目经理</string>
				<string>项目主管</string>
				<string>项目执行／协调人员</string>
				<string>其他</string>
			</array>
			<key>IT-品管、技术支持及其它</key>
			<array>
				<string>IT-品管、技术支持及其他</string>
				<string>技术支持／维护经理</string>
				<string>helpdesk技术支持</string>
				<string>计量工程师</string>
				<string>标准化工程师</string>
				<string>品质经理</string>
				<string>系统测试</string>
				<string>软件测试</string>
				<string>硬件测试</string>
				<string>测试员</string>
				<string>文档工程师</string>
				<string>配置管理工程师</string>
				<string>技术文员／助理</string>
				<string>其他</string>
			</array>
			<key>通信技术开发及应用</key>
			<array>
				<string>通信技术开发及应用</string>
				<string>通信技术工程师</string>
				<string>有线传输工程师</string>
				<string>无线通信工程师</string>
				<string>电信交互工程师</string>
				<string>数据通信工程师</string>
				<string>移动通信工程师</string>
				<string>电信网络工程师</string>
				<string>通信电源工程师</string>
				<string>增值产品开发工程师</string>
				<string>手机软件开发工程师</string>
				<string>其他</string>
			</array>
			<key>电子/电器/半导体/仪器仪表</key>
			<array>
				<string>电子／电器／半导体／仪器仪表</string>
				<string>集成电路IC设计／应用工程师</string>
				<string>IC验证工程师</string>
				<string>电子工程师／技术员</string>
				<string>电子技术研发工程师</string>
				<string>射频工程师</string>
				<string>电子／电器维修工程师／技师</string>
				<string>变压器与磁电工程师</string>
				<string>版图设计工程师</string>
				<string>电气工程师／设计员</string>
				<string>电路工程师／设计员（模拟／数字）</string>
				<string>电声／音响工程师／技术员</string>
				<string>激光／光电子技术</string>
				<string>半导体技术</string>
				<string>自动控制工程师／技术员</string>
				<string>电子软件开发（ARM/MCU）</string>
				<string>嵌入式软件开发（linux／单片机／PLC/DSP）</string>
				<string>嵌入式硬件开发（主板机）</string>
				<string>电池／电源开发</string>
				<string>FAE现场应用工程师</string>
				<string>工艺工程师</string>
				<string>家用电器／数码产品研发</string>
				<string>仪器／仪表／计量分析师</string>
				<string>测试工程师</string>
				<string>安防系统工程师</string>
				<string>其他</string>
			</array>
		</dict>
	</array>
	<key>销售/客服/技术支持</key>
	<array>
		<dict>
			<key>销售管理</key>
			<array>
				<string>销售管理</string>
				<string>销售总监</string>
				<string>销售经理</string>
				<string>销售主管</string>
				<string>业务拓展主管／经理</string>
				<string>渠道／分销总监</string>
				<string>渠道／分销经理</string>
				<string>渠道／分销主管</string>
				<string>大客户主管</string>
				<string>客户经理／主管</string>
				<string>区域销售总监</string>
				<string>区域销售经理</string>
				<string>团购经理／主管</string>
				<string>其他</string>
			</array>
			<key>销售人员</key>
			<array>
				<string>销售人员</string>
				<string>大客户销售</string>
				<string>销售代表</string>
				<string>渠道／分销专员</string>
				<string>客户代表</string>
				<string>销售工程师</string>
				<string>电话销售</string>
				<string>网络／在线销售</string>
				<string>团购业务员</string>
				<string>经销商</string>
				<string>其他</string>
			</array>
			<key>销售行政及商务</key>
			<array>
				<string>销售行政及商务</string>
				<string>销售行政经理／主管</string>
				<string>销售行政专员／助理</string>
				<string>商务经理</string>
				<string>商务主管／专员</string>
				<string>商务助理</string>
				<string>销售助理</string>
				<string>其他</string>
			</array>
			<key>客服及技术支持</key>
			<array>
				<string>客服及技术支持</string>
				<string>客户总监（非技术）</string>
				<string>客服经理（非技术）</string>
				<string>客服主管（非技术）</string>
				<string>客服专员／助理（非技术）</string>
				<string>客户关系经理／主管</string>
				<string>投诉专员</string>
				<string>售前／售后技术支持经理</string>
				<string>售前／售后技术支持主管</string>
				<string>售前／售后技术支持工程师</string>
				<string>咨询热线／呼叫中心服务人员</string>
				<string>网络／在线客服</string>
				<string>VIP专员</string>
				<string>其他</string>
			</array>
		</dict>
	</array>
	<key>会计/金融/银行/保险</key>
	<array>
		<dict>
			<key>财务/审计/税务</key>
			<array>
				<string>财务／审计／税务</string>
				<string>首席财务官CFO</string>
				<string>财务总监</string>
				<string>财务经理</string>
				<string>财务顾问</string>
				<string>财务主管／总账主管</string>
				<string>会计经理／会计主管</string>
				<string>会计</string>
				<string>出纳员</string>
				<string>财务／会计助理</string>
				<string>会计文员</string>
				<string>固定资产会计</string>
				<string>财务分析经理／主管</string>
				<string>财务分析员</string>
				<string>成本经理／成本主管</string>
				<string>成本管理员</string>
				<string>资金经理／主管</string>
				<string>资金专员</string>
				<string>审计经理／主管</string>
				<string>审计专员／助理</string>
				<string>税务经理／税务主管</string>
				<string>税务专员／助理</string>
				<string>其他</string>
			</array>
			<key>金融/证券/期货/投资</key>
			<array>
				<string>金融／证券／期货／投资</string>
				<string>证券／期货／外汇经纪人</string>
				<string>证券分析师</string>
				<string>股票／期货操盘手</string>
				<string>金融／经济研究员</string>
				<string>金融产品经理</string>
				<string>投资／基金项目经理</string>
				<string>投资／理财顾问</string>
				<string>投资银行业务</string>
				<string>投资银行财务分析</string>
				<string>融资专员</string>
				<string>风险经理／控制</string>
				<string>拍卖／担保／典当业务</string>
				<string>其他</string>
			</array>
			<key>保险</key>
			<array>
				<string>保险</string>
				<string>保险精算师</string>
				<string>保险产品开发／项目策划</string>
				<string>保险业务经理／主管</string>
				<string>保险代理／经纪人／客户经理</string>
				<string>理财顾问／财务规划师</string>
				<string>储备经理人</string>
				<string>保险核保</string>
				<string>保险理赔</string>
				<string>保险客户服务／续期管理</string>
				<string>保险培训师</string>
				<string>保险内勤</string>
				<string>协约管理</string>
				<string>其他</string>
			</array>
			<key>银行</key>
			<array>
				<string>银行</string>
				<string>行长／副行长</string>
				<string>银行客户总监</string>
				<string>个人业务部门经理／主管</string>
				<string>个人业务客户经理</string>
				<string>公司业务部门经理／主管</string>
				<string>公司业务客户经理</string>
				<string>综合业务经理／主管</string>
				<string>综合业务专员</string>
				<string>资产评估／分析</string>
				<string>风险控制</string>
				<string>信贷管理</string>
				<string>信审核查</string>
				<string>进出口／信用证结算</string>
				<string>外汇交易</string>
				<string>清算人员</string>
				<string>高级客户经理／客户经理</string>
				<string>客户主管／专员</string>
				<string>营业部大堂经理</string>
				<string>银行柜员</string>
				<string>银行卡、电子银行业务推广</string>
				<string>其他</string>
			</array>
		</dict>
	</array>
	<key>生产/营运/采购/物流</key>
	<array>
		<dict>
			<key>生产/营运</key>
			<array>
				<string>生产／营运</string>
				<string>工厂经理／厂长</string>
				<string>总工程师／副总工程师</string>
				<string>项目总监</string>
				<string>项目经理／主管</string>
				<string>项目工程师</string>
				<string>营运经理</string>
				<string>营运主管</string>
				<string>生产总监</string>
				<string>生产经理／车间主任</string>
				<string>生产计划／物料管理（pmc）</string>
				<string>生产主管／督导／领班／组长</string>
				<string>生产文员</string>
				<string>化验员</string>
				<string>其他</string>
			</array>
			<key>质量管理/安全防护</key>
			<array>
				<string>质量管理／安全防护</string>
				<string>质量管理／测试经理（QA/QC经理）</string>
				<string>质量管理／测试主管（QA/QC主管）</string>
				<string>质量管理／测试工程师（QA/QC工程师）</string>
				<string>质量检验员／测试员</string>
				<string>可靠度工程师</string>
				<string>故障分析工程师</string>
				<string>认证工程师／审核员</string>
				<string>体系工程师／审核员</string>
				<string>环境／健康／安全经理／主管(EHS)</string>
				<string>环境／健康／安全工程师(EHS)</string>
				<string>安全防护</string>
				<string>供应商管理</string>
				<string>采购材料，设备质量管理</string>
				<string>其他</string>
			</array>
			<key>工程/机械/能源</key>
			<array>
				<string>工程／机械／能源</string>
				<string>技术研发经理／主管</string>
				<string>技术研发工程师</string>
				<string>产品工艺／制程工程师</string>
				<string>产品规划工程师</string>
				<string>项目管理</string>
				<string>实验室负责人／工程师</string>
				<string>工程／设计经理</string>
				<string>工程／设备主管</string>
				<string>工程／设备工程师</string>
				<string>工程／机械绘图员</string>
				<string>工业工程师</string>
				<string>材料工程师</string>
				<string>机械工程师</string>
				<string>结构工程师</string>
				<string>模具工程师</string>
				<string>机电工程师</string>
				<string>维修经理／主管</string>
				<string>维修工程师</string>
				<string>装配工程师／技师</string>
				<string>铸造／铸造工程师／技师</string>
				<string>注塑工程师／技师</string>
				<string>焊接工程师／技师</string>
				<string>夹具工程师／技师</string>
				<string>CNC工程师</string>
				<string>冲压工程师／技师</string>
				<string>锅炉工程师／技师</string>
				<string>电力工程师／技术员</string>
				<string>光源与照明工程</string>
				<string>光伏系统工程师</string>
				<string>汽车／摩托车工程师</string>
				<string>船舶工程师</string>
				<string>轨道交通工程师／技术员</string>
				<string>飞机维修机械师</string>
				<string>飞行器设计与制造</string>
				<string>水利／水电工程师</string>
				<string>空调／热能工程师</string>
				<string>石油天然气技术人员</string>
				<string>矿产勘探／地质勘测工程师</string>
				<string>其他</string>
			</array>
			<key>汽车制造</key>
			<array>
				<string>汽车制造</string>
				<string>汽车机构工程师</string>
				<string>汽车设计工程师</string>
				<string>汽车电子工程师</string>
				<string>发动机／总装工程师</string>
				<string>汽车项目管理</string>
				<string>汽车质量管理</string>
				<string>汽车安全性能工程师</string>
				<string>汽车装配工艺工程师</string>
				<string>其他</string>
			</array>
			<key>技工</key>
			<array>
				<string>技工</string>
				<string>钳工／机修工／钣金工</string>
				<string>电焊工／铆焊工</string>
				<string>车工／磨工／铣工／冲压工</string>
				<string>切割技工</string>
				<string>模具工</string>
				<string>电工</string>
				<string>叉车工</string>
				<string>空调工／电梯工／锅炉工</string>
				<string>水工／木工／漆工</string>
				<string>普工／操作工</string>
				<string>裁缝印纺熨烫</string>
				<string>汽车修理工</string>
				<string>组装／包装工</string>
				<string>其他</string>
			</array>
			<key>服装/纺织/皮革</key>
			<array>
				<string>服装／纺织／皮革</string>
				<string>服装／纺织设计总监</string>
				<string>服装／纺织设计</string>
				<string>服装／纺织／皮革工艺师</string>
				<string>面料辅料开发</string>
				<string>面料辅料采购</string>
				<string>服装／纺织／皮革跟单</string>
				<string>质量管理／验货员(QA/QC)</string>
				<string>板房／楦头／底格出格师</string>
				<string>打样／制版</string>
				<string>电脑放码员</string>
				<string>纸样师／车板工</string>
				<string>裁床</string>
				<string>其他</string>
			</array>
			<key>采购</key>
			<array>
				<string>采购</string>
				<string>采购总监</string>
				<string>采购经理</string>
				<string>采购主管</string>
				<string>采购员</string>
				<string>采购助理</string>
				<string>买手</string>
				<string>供应商开发</string>
				<string>其他</string>
			</array>
			<key>贸易</key>
			<array>
				<string>贸易</string>
				<string>贸易/外贸经理/主管</string>
				<string>贸易/外贸专员/助理</string>
				<string>国内贸易人员</string>
				<string>业务跟单经理</string>
				<string>高级业务跟单</string>
				<string>业务跟单</string>
				<string>助理业务更单</string>
				<string>其他</string>
			</array>
			<key>物流/仓储</key>
			<array>
				<string>物流／仓储</string>
				<string>物流总监</string>
				<string>物流经理</string>
				<string>物流主管</string>
				<string>物流专员／助理</string>
				<string>供应链总监</string>
				<string>供应链经理</string>
				<string>供应链主管／专员</string>
				<string>物料经理</string>
				<string>物料主管／专员</string>
				<string>仓库经理／主管</string>
				<string>仓库管理员</string>
				<string>运输经理／主管</string>
				<string>项目经理／主管</string>
				<string>货运代理</string>
				<string>集装箱业务</string>
				<string>海关事务管理</string>
				<string>报关预报检</string>
				<string>单证员</string>
				<string>船务／空运陆运操作</string>
				<string>快递员</string>
				<string>调度员</string>
				<string>理货员</string>
				<string>其他</string>
			</array>
			<key>汽车销售与服务</key>
			<array>
				<string>汽车销售与服务</string>
				<string>4S店经理／维修站经理</string>
				<string>售后服务／客户服务</string>
				<string>汽车销售／经纪人</string>
				<string>二手车评估师</string>
				<string>汽车检验／检测</string>
				<string>汽车装饰美容</string>
				<string>汽车修理人员</string>
				<string>洗车工</string>
				<string>停车管理员</string>
				<string>加油站工作员</string>
				<string>其他</string>
			</array>
		</dict>
	</array>
	<key>生物/制药/医疗/护理</key>
	<array>
		<dict>
			<key>生物/制药/医疗器械</key>
			<array>
				<string>生物／制药／医疗器械</string>
				<string>生物工程／生物制药</string>
				<string>化学分析测试员</string>
				<string>医药技术研发人员</string>
				<string>医药技术研发管理人员</string>
				<string>医药学术推广</string>
				<string>临床研究员</string>
				<string>临床协调员</string>
				<string>临床数据分析员</string>
				<string>药品注册</string>
				<string>药品生产／质量管理</string>
				<string>药品市场推广经理</string>
				<string>药品市场推广主管／专员</string>
				<string>医药招商</string>
				<string>政府事务管理</string>
				<string>招投标管理</string>
				<string>医药销售经理／主管</string>
				<string>医药销售代表</string>
				<string>医疗器械研发</string>
				<string>医疗器械注册</string>
				<string>医疗器械生产／质量管理</string>
				<string>医疗器械市场推广</string>
				<string>医疗器械销售经理／主管</string>
				<string>医疗器械销售代表</string>
				<string>医疗器械销售人员</string>
				<string>其他</string>
			</array>
			<key>化工</key>
			<array>
				<string>化工</string>
				<string>化工技术应用／化工工程师</string>
				<string>化工实验室验研究员／技术员</string>
				<string>涂料研发工程师</string>
				<string>配色技术员</string>
				<string>塑料工程师</string>
				<string>化妆品研究</string>
				<string>食品／饮料研发</string>
				<string>造纸研发</string>
				<string>其他</string>
			</array>
			<key>医院/医疗/护理</key>
			<array>
				<string>医院／医疗／护理</string>
				<string>医院管理人员</string>
				<string>综合门诊／全科医生</string>
				<string>内科医生</string>
				<string>外科医生</string>
				<string>专科医生</string>
				<string>牙科医生</string>
				<string>美容整形师</string>
				<string>麻醉医生</string>
				<string>放射科医师</string>
				<string>理疗师</string>
				<string>中医科医生</string>
				<string>针灸、推拿</string>
				<string>儿科医生</string>
				<string>心理医生</string>
				<string>营养师</string>
				<string>药库主任／药剂师</string>
				<string>医药学检验</string>
				<string>公共卫生／疾病控制</string>
				<string>护理主任／护士长</string>
				<string>护士／护理人员</string>
				<string>兽医</string>
				<string>验光师</string>
				<string>其他</string>
			</array>
		</dict>
	</array>
	<key>广告/市场/媒体/艺术</key>
	<array>
		<dict>
			<key>广告</key>
			<array>
				<string>广告</string>
				<string>广告客户总监／副总监</string>
				<string>广告客户经理</string>
				<string>广告客户主管／专员</string>
				<string>广告创意／设计经理</string>
				<string>广告创意总监</string>
				<string>广告创意／设计主管／专员</string>
				<string>广告制作执行</string>
				<string>美术指导</string>
				<string>文案／策划</string>
				<string>企业／业务发展经理</string>
				<string>企业策划人员</string>
				<string>其他</string>
			</array>
			<key>公关/媒介</key>
			<array>
				<string>公关／媒介</string>
				<string>公关总监</string>
				<string>公关经理</string>
				<string>公关主管</string>
				<string>公关专员</string>
				<string>会务／会展经理</string>
				<string>会务／会展主管</string>
				<string>会务／会展专员</string>
				<string>媒介经理</string>
				<string>媒介主管</string>
				<string>媒介专员</string>
				<string>公关／媒介助理</string>
				<string>媒介销售</string>
				<string>活动策划</string>
				<string>活动执行</string>
				<string>其他</string>
			</array>
			<key>市场/营销</key>
			<array>
				<string>市场／营销</string>
				<string>市场／营销／拓展总监</string>
				<string>市场／营销／拓展经理</string>
				<string>市场／营销／拓展主管</string>
				<string>市场／营销／拓展专员</string>
				<string>市场助理</string>
				<string>市场分析／调研人员</string>
				<string>产品／品牌经理</string>
				<string>产品／品牌主管</string>
				<string>产品／品牌专员</string>
				<string>市场通路经理／主管</string>
				<string>市场通路专员</string>
				<string>市场企划经理／主管</string>
				<string>市场企划专员</string>
				<string>促销经理</string>
				<string>促销主管／督导</string>
				<string>促销员／导购</string>
				<string>选址拓展／新店开发</string>
				<string>其他</string>
			</array>
			<key>影视/媒体</key>
			<array>
				<string>影视／媒体</string>
				<string>影视策划／制作人员</string>
				<string>导演／编导</string>
				<string>艺术／设计总监</string>
				<string>艺术指导／舞台美术设计</string>
				<string>经纪人／星探</string>
				<string>演员／模特／主持人</string>
				<string>摄影师／摄像师</string>
				<string>后期制作</string>
				<string>音效师</string>
				<string>配音师</string>
				<string>配音员</string>
				<string>灯光师</string>
				<string>放映经理／主管</string>
				<string>放映员</string>
				<string>化妆师／造型师</string>
				<string>其他</string>
			</array>
			<key>写作/出版/印刷</key>
			<array>
				<string>写作／出版／印刷</string>
				<string>总编／副总编</string>
				<string>编辑</string>
				<string>作家／撰稿人</string>
				<string>记者</string>
				<string>电话采编</string>
				<string>美术编辑</string>
				<string>排版设计</string>
				<string>校对／录入</string>
				<string>出版／发行</string>
				<string>电分操作员</string>
				<string>印刷排版／制版</string>
				<string>数码直印／菲林输出</string>
				<string>打稿机操作员</string>
				<string>调墨技师</string>
				<string>印刷机械机长</string>
				<string>晒版／拼版／装订／烫金技工</string>
				<string>其他</string>
			</array>
			<key>艺术/设计</key>
			<array>
				<string>艺术／设计</string>
				<string>平面设计总监</string>
				<string>平面设计经理／主管</string>
				<string>平面设计师</string>
				<string>绘画</string>
				<string>动画／3D设计</string>
				<string>原画师</string>
				<string>展览／展示／店面设计</string>
				<string>多媒体设计</string>
				<string>包装设计</string>
				<string>工业／产品设计</string>
				<string>工艺品／珠宝设计鉴定</string>
				<string>家具／家居用品设计</string>
				<string>玩具设计</string>
				<string>其他</string>
			</array>
		</dict>
	</array>
	<key>建筑/房地产</key>
	<array>
		<dict>
			<key>建筑装潢/市政建设</key>
			<array>
				<string>建筑装潢／市政建设</string>
				<string>高级建筑工程师／总工</string>
				<string>建筑工程师</string>
				<string>建筑设计师</string>
				<string>市政工程师</string>
				<string>结构／土木／土建工程师</string>
				<string>公路／桥梁／港口／隧道工程</string>
				<string>岩土工程</string>
				<string>楼宇自动化</string>
				<string>建筑机电工程师</string>
				<string>智能大厦／综合布线／安防／弱电</string>
				<string>给排水／暖通工程</string>
				<string>幕墙工程师</string>
				<string>规划与设计</string>
				<string>室内设计</string>
				<string>园艺／园林／景观设计</string>
				<string>测绘／测量</string>
				<string>建筑制图／模型／渲染</string>
				<string>开发报建</string>
				<string>工程造价师／预结算经理</string>
				<string>预结算员</string>
				<string>建筑工程管理／项目经理</string>
				<string>建筑项目助理</string>
				<string>建筑工程验收</string>
				<string>工程监理</string>
				<string>合同管理</string>
				<string>安全员</string>
				<string>资料员</string>
				<string>施工员</string>
				<string>其他</string>
			</array>
			<key>房地产开发/销售</key>
			<array>
				<string>房地产开发／销售</string>
				<string>房地产项目／开发／策划经理</string>
				<string>房地产项目／开发／策划主管／专员</string>
				<string>房地产项目配套工程师</string>
				<string>房地产项目招投标</string>
				<string>房地产投资分析</string>
				<string>房地产资产管理</string>
				<string>房地产销售经理／主管</string>
				<string>房地产销售人员</string>
				<string>监察人员</string>
				<string>其他</string>
			</array>
			<key>物业管理</key>
			<array>
				<string>物业管理</string>
				<string>高级物业顾问／物业顾问</string>
				<string>物业管理专员／助理</string>
				<string>物业招商／租凭／租售</string>
				<string>物业设施管理人员</string>
				<string>物业机电工程师</string>
				<string>物业维修人员</string>
				<string>其他</string>
			</array>
			<key>房地产中介</key>
			<array>
				<string>房地产中介</string>
				<string>房地产中介／交易</string>
				<string>房地产评估</string>
				<string>置业顾问</string>
				<string>房地产店长／经理</string>
				<string>房地产店员／助理</string>
				<string>房地产客服</string>
				<string>房地产内勤</string>
				<string>其他</string>
			</array>
		</dict>
	</array>
	<key>人事/行政/高级管理</key>
	<array>
		<dict>
			<key>人力资源</key>
			<array>
				<string>人力资源</string>
				<string>人事总监</string>
				<string>人事经理</string>
				<string>人事主管</string>
				<string>人事专员</string>
				<string>人事助理</string>
				<string>招聘经理／主管</string>
				<string>招聘专员／助理</string>
				<string>薪资福利经理／主管</string>
				<string>薪资福利专员／助理</string>
				<string>绩效考核经理／主管</string>
				<string>绩效考核专员／助理</string>
				<string>培训经理／主管</string>
				<string>培训专员／助理／培训师</string>
				<string>企业文化／员工关系／工会管理</string>
				<string>人力资源信息系统专员</string>
				<string>其他</string>
			</array>
			<key>高级管理</key>
			<array>
				<string>高级管理</string>
				<string>首席执行官CEO／总裁／总经理</string>
				<string>首席运行官COO</string>
				<string>副总经理／副总裁</string>
				<string>合伙人</string>
				<string>总监／部门经理</string>
				<string>策略发展总监</string>
				<string>企业秘书／董事会秘书</string>
				<string>投资者关系</string>
				<string>办事处首席代表</string>
				<string>办事处／分公司／分支机构经理</string>
				<string>总裁助理／总经理助理</string>
				<string>其他</string>
			</array>
			<key>行政/后勤</key>
			<array>
				<string>行政／后勤</string>
				<string>行政总监</string>
				<string>行政经理／主管／办公室主任</string>
				<string>行政专员／助理</string>
				<string>经理助理／秘书</string>
				<string>前台接待／总机／接待生</string>
				<string>后勤</string>
				<string>图书管理员／资料管理员</string>
				<string>电脑操作员／打字员</string>
				<string>其他</string>
			</array>
		</dict>
	</array>
	<key>咨询/法律/教育/科研</key>
	<array>
		<dict>
			<key>咨询/顾问</key>
			<array>
				<string>咨询／顾问</string>
				<string>专业顾问</string>
				<string>咨询总监</string>
				<string>咨询经理</string>
				<string>专业培训师</string>
				<string>咨询员</string>
				<string>调研员</string>
				<string>猎头／人才中介</string>
				<string>情报信息分析人员</string>
				<string>其他</string>
			</array>
			<key>律师/法务/合规</key>
			<array>
				<string>律师／法务／合规</string>
				<string>律师／法律顾问</string>
				<string>律师助理</string>
				<string>法务经理</string>
				<string>法务主管／专员</string>
				<string>法务助理</string>
				<string>合规经理</string>
				<string>合规主管／专员</string>
				<string>知识产权／专利／商标</string>
				<string>其他</string>
			</array>
			<key>教师</key>
			<array>
				<string>教师</string>
				<string>校长</string>
				<string>大学教授</string>
				<string>讲师／助教</string>
				<string>中学教师</string>
				<string>小学教师</string>
				<string>幼教</string>
				<string>外语培训师</string>
				<string>院校教务管理人员</string>
				<string>兼职教师</string>
				<string>家教</string>
				<string>音乐／美术教师</string>
				<string>体育教师</string>
				<string>职业技术教师</string>
				<string>其他</string>
			</array>
			<key>培训</key>
			<array>
				<string>培训</string>
				<string>培训督导</string>
				<string>培训讲师</string>
				<string>培训策划</string>
				<string>培训产品开发</string>
				<string>培训／课程顾问</string>
				<string>培训助理</string>
				<string>其他</string>
			</array>
			<key>科研人员</key>
			<array>
				<string>科研人员</string>
				<string>科研管理人员</string>
			</array>
		</dict>
	</array>
	<key>服务业</key>
	<array>
		<dict>
			<key>餐饮/娱乐</key>
			<array>
				<string>餐饮／娱乐</string>
				<string>餐饮／娱乐管理</string>
				<string>餐饮／娱乐领班／部长</string>
				<string>餐饮／娱乐服务员</string>
				<string>收银员</string>
				<string>传菜主管／传菜员</string>
				<string>礼仪／迎宾</string>
				<string>司仪</string>
				<string>行政主厨／厨师长</string>
				<string>厨师／面点师</string>
				<string>配菜／打荷</string>
				<string>厨师助理／学徒</string>
				<string>洗碗工</string>
				<string>送餐员</string>
				<string>调酒师／侍酒师／吧台员</string>
				<string>茶艺师</string>
				<string>咖啡师</string>
				<string>杂工</string>
				<string>其他</string>
			</array>
			<key>酒店/旅游</key>
			<array>
				<string>酒店／旅游</string>
				<string>酒店／宾馆经理</string>
				<string>酒店／宾馆营销</string>
				<string>宴会管理</string>
				<string>大堂经理</string>
				<string>宾客服务经理</string>
				<string>楼面经理</string>
				<string>前厅接待</string>
				<string>预订部主管</string>
				<string>预定员</string>
				<string>客房服务员／楼面服务员</string>
				<string>机场代表</string>
				<string>行李员</string>
				<string>管家部经理／主管</string>
				<string>清洁服务人员</string>
				<string>健身房服务</string>
				<string>旅游产品销售</string>
				<string>导游／旅行顾问</string>
				<string>行程管理／记调</string>
				<string>票务／订房服务</string>
				<string>签证专员</string>
				<string>婚礼／庆典策划服务</string>
				<string>其他</string>
			</array>
			<key>美容/健身/体育</key>
			<array>
				<string>美容／健身／体育</string>
				<string>美容店长</string>
				<string>美容顾问／化妆</string>
				<string>彩妆培训师</string>
				<string>美容导师</string>
				<string>专柜彩妆顾问（BA）</string>
				<string>美容助理／见习美容师</string>
				<string>瘦身顾问</string>
				<string>美体师</string>
				<string>发型师</string>
				<string>发型助理／学徒</string>
				<string>美甲师</string>
				<string>按摩／足疗</string>
				<string>健身顾问／教练</string>
				<string>体育运动教练</string>
				<string>救生员</string>
				<string>瑜伽／舞蹈老师</string>
				<string>宠物护理／美容</string>
				<string>其他</string>
			</array>
			<key>百货/连锁/零售服务</key>
			<array>
				<string>百货／连锁／零售服务</string>
				<string>店长／卖场经理／楼面管理</string>
				<string>品类经理</string>
				<string>品牌／连锁招商管理</string>
				<string>奢饰品业务</string>
				<string>店员／营业员</string>
				<string>安防主管</string>
				<string>防损员／内保</string>
				<string>收银主管／收银员</string>
				<string>理货员／陈列员／售货员</string>
				<string>导购员</string>
				<string>西点师／面包糕点加工</string>
				<string>生鲜食品加工／处理</string>
				<string>熟食加工</string>
				<string>兼职店员</string>
				<string>其他</string>
			</array>
			<key>交通运输服务</key>
			<array>
				<string>交通运输服务</string>
				<string>飞机机长／副机长</string>
				<string>空乘人员</string>
				<string>地勤人员</string>
				<string>列车／地铁车长</string>
				<string>列车／地铁司机</string>
				<string>船长／副船长</string>
				<string>船员</string>
				<string>乘务员</string>
				<string>司机</string>
				<string>其他</string>
			</array>
			<key>保安/家政/其他服务</key>
			<array>
				<string>保安／家政／其他服务</string>
				<string>保安经理</string>
				<string>保安人员</string>
				<string>保镖</string>
				<string>寻呼员／话务员</string>
				<string>搬运工</string>
				<string>清洁工</string>
				<string>家政服务／保姆</string>
				<string>月嫂</string>
				<string>育婴师／保育员</string>
				<string>其他</string>
			</array>
		</dict>
	</array>
	<key>公务员/翻译/其他</key>
	<array>
		<dict>
			<key>公务员</key>
			<array>
				<string>公务员</string>
			</array>
			<key>翻译</key>
			<array>
				<string>翻译</string>
				<string>英语翻译</string>
				<string>日语翻译</string>
				<string>德语翻译</string>
				<string>法语翻译</string>
				<string>俄语翻译</string>
				<string>意大利语翻译</string>
				<string>西班牙语翻译</string>
				<string>葡萄牙语翻译</string>
				<string>阿拉伯语翻译</string>
				<string>韩语／朝鲜语翻译</string>
				<string>泰语翻译</string>
				<string>中国方言翻译</string>
				<string>其他语中翻译</string>
			</array>
			<key>在校学生</key>
			<array>
				<string>在校学生</string>
				<string>研究生</string>
				<string>大学／大专应届毕业生</string>
				<string>中专／职校生</string>
				<string>其他</string>
			</array>
			<key>储备干部/培训生/实习生</key>
			<array>
				<string>储备干部／培训生／实习生</string>
				<string>储备干部</string>
				<string>培训生</string>
				<string>实习生</string>
			</array>
			<key>兼职</key>
			<array>
				<string>兼职</string>
			</array>
			<key>其他</key>
			<array>
				<string>驯兽师／助理驯兽师</string>
				<string>志愿者／社会工作者</string>
				<string>其他</string>
			</array>
			<key>环保</key>
			<array>
				<string>环保</string>
				<string>环保工程师</string>
				<string>环境影响评价工程师</string>
				<string>生态治理／规划</string>
				<string>环保检测</string>
				<string>水质监测员</string>
				<string>水处理工程师</string>
				<string>固废工程师</string>
				<string>废气处理工程师</string>
				<string>其它</string>
			</array>
			<key>农/林/牧/渔</key>
			<array>
				<string>农／林／牧／渔</string>
				<string>养殖部主任</string>
				<string>场长（农／林／牧／渔业）</string>
				<string>农艺师</string>
				<string>畜牧师</string>
				<string>饲养员</string>
				<string>动物营养／饲料研发</string>
				<string>其他</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
