<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerUrl</key>
	<string>http://192.168.1.15/c6mobile1</string>
	<key>ServerAndPort</key>
	<string>http://223.4.91.202/C6IOS</string>
	<key>ServerPort</key>
	<string>80</string>
	<key>ActionUrl</key>
	<string>http://tempuri.org</string>
	<key>Sound</key>
	<string>0</string>
	<key>Shake</key>
	<string>0</string>
	<key>PhotoQuality</key>
	<string>1</string>
</dict>
</plist>
